<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h1>This is my first Site coded in Python</h1>

    <p>Ibovespa</p>
    <p>{{ ibovespa_price }}</p>
    <br>
    <br>
    <p>Today Highest</p>
    <p>{{highest_gain_ticker}}</p>
    <p>+{{highest_gain_formatted}}%</p>
    <p>Close Price: R${{close_price_formatted}}</p>
    <br>
    <br>
    <p>Today Highest Fii (Brazilian Reits*)</p>
    <p>{{highest_gain_ticker_fii}}</p>
    <p>+{{highest_gain_fii_formatted}}%</p>
    <p>Close Price: R${{close_price_fii_formatted}}</p>


</body>
</html>
