<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>This is my first Site coded in Python</h1>
<br>
<p><a href="/stocks"> Brazilian Stocks</a> </p>
<br>
<br>
<h2>News</h2>
<p>{{ first_news_ibov_title }} <a href="{{ first_news_ibov_link }}">Source.</a></p>
<p>{{ first_news_bb_title }} <a href="{{ first_news_bb_link }}">Source.</a></p>
<p>{{ first_news_vale_title }} <a href="{{ first_news_vale_link }}">Source.</a></p>
<p>{{ first_news_petro_title }} <a href="{{ first_news_petro_link }}">Source.</a></p>

<br>
<br>
<p>Ibovespa</p>
<p>{{ ibovespa_price }}</p>
<br>
<br>
<p>Today Highest</p>
<p>Ticker: {{ highest_gain['ticker'] }}</p>
<p>Variation: {{ highest_gain['variation'] }}%</p>
<p>Close Price: R${{ highest_gain['close_price'] }}</p>

<p>Today Lowest Drop</p>
<p>Ticker: {{ lowest_drop['ticker'] }}</p>
<p>Variation: {{ lowest_drop['variation'] }}%</p>
<p>Close Price: R${{ lowest_drop['close_price'] }}</p>

</body>
</html>
